.small-button{
     margin: 1.5px;
     
}
.up-button{
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     
     padding:  0.5rem ;
     margin-left: 30rem;
     margin-top: 100 px;
     width: 100px;
     box-shadow: 0 0 0 1px blue;
     
   
   }
   table {
     margin: 1rem ;
     margin-top: 30px;
     
     border: 1rem hidden white;
     border-collapse: collapse;
     box-shadow: 0 0 0 1px black;
     overflow: hidden;
     max-width: 10rem;
   }
   
   li, p, a, td{
     font-size: 0.8rem;
     line-height: 1;
   }
   
   thead {
     font-size: 0.8rem;
     background-color: white;
     color: black;
   }
   
   th,
   td {
     border: 1px solid black;
     min-width: 10rem;
     padding: 0.5rem;
     
     line-height: 1;
   }
   
   td {
     font-size: 0.8rem;
   }