.catalogue {
    padding: 0px;
    margin: 0px;
}

.catinfo {
    margin: 10px;
    padding: 10px;
}

.form-field {
    display: flex;
    margin: 2px;
    margin-bottom: 25px;
    margin-right: 25px;
    width: 180px;
    height: 100px;
    padding: 10px;
}

.input {
    padding: 10px;
    height: 100px;
}

.small-button {
    color: rgb(23, 23, 93);
    width: 100px;
    height: 30px;
    border: rgb(19, 19, 99);
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 0 0 0 1px rgb(24, 24, 104);
    display: flex;
    margin: 2px;
}

.mainContent {
    flex: 1;
    padding: 20px;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.horizontalLine {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}