/* App.css */

.container {
    display: inline-block;
    flex-direction: row;
    height: 100vh;
}

.content {
    display: inline;
    flex-grow: 1;
}

nav {
    background-color: #f1f1f1;
    padding: 1px;
}

aside {
    width: 200px;
    background-color: #f9f9f9;
    padding: 1px;
}

main {
    flex-grow: 1;
    padding: 1px;
}