/* App.css */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
    color: blueviolet;
}

aside {
    width: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    color: blue;
}

main {
    flex-grow: 1;
    padding: 10px;
}